name: CI/CD – Deploy Nginx to k3s

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted   # kubectl already installed here

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure kubeconfig securely
      run: |
        sudo mkdir -p $HOME/.kube
        sudo echo "${{ secrets.KUBECONFIG_DATA }}" > $HOME/.kube/config
        sudo chmod 600 $HOME/.kube/config
        
    - name: DEBUG – show workspace
      run: |
        echo "PWD:"
        pwd
        echo "List root:"
        ls -la
        echo "Find files:"
        find . -maxdepth 4
    - name: Apply Kubernetes manifests
      run: |
        sudo kubectl apply -f ./k8/

